#dash_12{
	float: left;
	width: 100%;
}
#dash_15{
	margin-bottom: 80px;
}
#register-account input,#register-account select{
	border: 1px solid #b2c0c6;
	transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 13px;
    margin-bottom: 12px;
    border-radius: 5px;
}
#register-account .fa-fw{
	display: none;
}
#register-account .has-error input{
    border: 1px solid #c30d0d;
}
#fakeloader{
	z-index: 99999999 !important;
}
.alertify-notifier .ajs-message.ajs-success {
    background: rgba(50, 177, 87, 0.95);
    color: #fff;
}
.error_warning{
	color: #ebc142;
	margin-top: 30px;
	text-align: center;
}
#comfim-pd{
	padding:20px;
}
#suggesstion-box{
	margin-top: 0px;
    float: left;
    width: 230px;
}
#suggesstion-box li{
	cursor: pointer;
}
.item_level{
	text-align: center;
	font-size: 15px;
	padding: 15px 0;
	line-height: 28px;
	border-radius: 5px;
}
.languages{
	
	line-height: 40px;
}
.language-selector{
	margin-top: 13px;
    list-style: none;
    margin-right: 20px;
}
.language-selector img{
	width: 25px;
}
.pull-right > .dropdown-menu {
    right: -87px;
    left: auto;
}	
@media screen and (max-width: 768px) {
	.page-container .main-content .content{
		padding-left: 15px;
		padding-right: 15px;
	}
	#frmCreatePin input{
		margin-bottom: 10px;
	}
	
}
@media screen and (max-width: 600px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-title);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }